* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
body {
  background-color: white;
}
h1 {
  text-align: center;
}
/* input[type="text"] {
  display: block;
  margin : 0 auto;
} */
/* .btn  {
    text-align: center;  
      margin: 0 auto;
} */

/*1. Main_header_Part   */
.Main_Head_Bar  {
  background-color: rgb(55, 55, 165);
  color: white;
  display: flex;
  height: 50px;
  /* width: 50px; */
}

.Main_Head_Bar img {
  background-color: rgb(55, 55, 165);
  color: white;
  display: flex;
  height: 40px;
  width: 40px;
  color: blue;
  border-radius: 20px;
}


.Header_Logo{
  text-align: center;
  margin-top: .4%;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 180%;
}
.Search_Input_Box {
  height: 33px;
  text-align: center;
  margin: auto;
  width: 300px;
  min-width: 100px;
  /* border-radius: 10px; */
  border-top-left-radius:10px ;
  border-bottom-left-radius: 10px;
  border-bottom: 2px solid black;
}
.fa-desktop {
 color: red;
}
.News_Search_Btn{
  height: 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  background-color: black;
  color: white;
}


.Search_Btn_Header{
  margin: auto;
}

.Header_Current_Date{
  margin-top: 15px;
  margin-right: 10px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: bisque;
  color: black;
}



/* Toggle Part */

.Toggle-Area{
  margin-right: 20px;
}
.Dark-Btn {
  background-color: black;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 3px;
}
.Light-Btn {
  background-color: lightcoral;
  color: black;
  font-weight: bold;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 3px;
}
/* NavBar Area */
.Header-Container {
  background-color: tomato;
  position: sticky;
}
/* .NavBar_Icon {
  width: 100%;
  display: flex;
  display: inline-flex;
  text-align: center;
  justify-content: space-around;
} */
.Nav_Icons {
  display: flex;
  margin-right: 30px;
  flex-direction: row;
  justify-content: space-around;
}
.Nav_Icons li {
  margin: 15px;
  text-decoration: none;
  list-style-type: none;
  color: white;
}
.active-link {
  font-weight: bold;
  color: blue;
}
#links {
  text-decoration: none;
  font-weight: bold;
}
.not-active {
  color: white;
}

/* Contact part */
.News_Contact {
  text-align: center;
}

/* Footer Part */
.Footer {
  background-color: black;
  color: white;
  margin-top: 30%;
  border: 3px solid tomato;
}
h4 {
  color: white;
}
