.About_Card{
    border: 2px solid aqua;
    border-radius: 10px;
    width: 60%;
    height: fit-content;
    margin: auto;
    background-color: whitesmoke;
    margin-top: 10px;
}
.Top_heading{
    font-family: "Trirong", serif;
    color: rgb(0, 162, 255);
     font-size: 3rem;
    text-align: center;
}
.About_Name{
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.About_Detailes_Left{
    color: blue;
}

.About_Detailes_Right{
    color: black;
    font-size: medium;
}
.image {
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    margin: auto;
}

.introduction_and_details {
    display: flex;
    gap: 6rem;
    font-family: "Trirong", serif;
    justify-content: space-around;
}

.details {
    margin-top: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.resume {
    text-decoration: none;
    border-radius: 26px;
    font-weight: 500;
    height: 46px;
    width: 15rem;
    line-height: 46px;
    font-size: 15px;
    text-transform: uppercase;
    color:black;
    background-color: #2dd5ff;
    padding: 0 33px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .5px;
    border: 0;
    font-weight: bold;
    border: 1px solid black;
}
.resume:hover{
    cursor: pointer;
    box-shadow: inset 330px 0 0 0 blue;
    color: white;
    transition: 0.8s;
}
.active{
    color: whitesmoke;
}
/* .About_Career_Card{
    border: 2px solid blueviolet;
    margin: 10px;
    border-radius: 10px;
    background-color:lightgreen;
} */
.About_Me_Heading{
    text-align: center;
    color: rgb(25, 0, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
}
.About_Para{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}