
.Contact_Main_Container{
  display: flex;
  background-color: lightskyblue;
  width: 80%;
  /* height: 70%; */
  margin: auto;
  gap: 10%;
  border-radius: 10px;
}
.Contact_Card {
  text-align: center;
  height: 300px;
  /* background-color: lightgreen; */
}
.Contact_Form{
  width: 300px;
  /* background-color: blue; */
  /* height: 300px; */
  /* display: flex; */
  margin: 10px;
}
.Contact_Input_Box{
  height: 30px;
  width: 300px;
  margin: 5px;
}
.Contact_Input_Massage_Box{
  height: 150px;
  width: 300px; 
}

.Contact_Form_Send_Btn{
  width: 70px;
  height: 30px;
  margin-top: 10px;
}